node_modules/
dist/
*.dmg
*.exe
venv/
chroma_db/
__pycache__/
*.pyc
.env
uploads/
*.pdf
*.db
*.sqlite3
*.bin
Screenshot*/
*.png
*.jpg
*.jpeg
.DS_Store
**/.DS_Store
offline-chatbot/electron/binaries/mac/python-runtime/
offline-chatbot/electron/binaries/win/python-runtime/
offline-chatbot/backend/venv/
